.wrapperContainer {
	background: linear-gradient(to right, #051129 0%, #051129 40%, #000000 100%);
	position: relative;
}

.container {
	padding-top: 100px;
	z-index: 2;
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 150px;
	Button{
		z-index: 100;
	}
}
.title {
	font-weight: 400;
	font-size: 36px;
	line-height: 50px;
}
.subtitle {
	margin-top: 20px;
	font-family: IntroBook sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 40px;
}

.bigLogo {
	font-family: IntoRegular;
	color: rgba(255, 255, 255, 0.12);
	top: 240px;
	font-weight: bold;
	font-size: 200px;
	line-height: 200px;
	position: absolute;
	z-index: 0;
	right: 10%;
	margin: 0 auto;
	text-align: center;
}

@media (max-width: 1232px) {
	.container {
		margin-right: 20px;
		margin-left: 20px;
	}
	.bigLogo {
		font-size: 150px;
		right: 20px;
	}
}

@media (max-width: 770px) {
	.bigLogo {
		font-size: 100px;
		right: 20px;
	}
}

@media (max-width: 730px) {
	.wrapperContainer{
		padding-bottom: 50px;
	}
	.title {
		font-size: 25px;
	}
	.container {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.bigLogo {
		position: static;
		line-height: 100px;
	}
}

@media (max-width: 520px) {
	.title {
		font-size: 20px;
		line-height: 30px;
	}
	.bigLogo {
		font-size: 70px;
	}
}
