.Card {
	color: #051129;
	display: grid; /* Используем grid */
	grid-template-columns: 2fr 4fr 1fr; /* Устанавливаем 3 колонки */
	grid-gap: 10px; /* Задаем отступы между элементами */
	align-items: center; /* Выравниваем элементы по центру */
	margin-bottom: 20px; /* Отступы между карточками */
}

.img {
	height: 150px;
	width: 130px;
	object-fit: contain; /* Чтобы изображение не искажалось */
}

.wrapperTitle {
	font-size: 18px;
	font-family: IntroBook sans-serif;
	font-weight: normal;
	color: rgba(77, 77, 77, 1);
	max-width: 260px;
}

.title {
	display: block;
	font-weight: bold;
}
.span{
	display: inline-block;
}

.price {
	font-weight: normal;
}

.dialog {
	overflow-x: hidden;
	color: #051129;
	padding: 0;
	max-height: 450px; /* Ограничиваем высоту модального окна */
	overflow-y: auto; /* Добавляем прокрутку, если контента слишком много */
}

.deleteIcon {
	cursor: pointer; /* Указываем, что иконка кликабельна */
	justify-self: center; /* Выравниваем иконку по центру */
}
.emptyCart{
	text-align: center;
	max-width: 300px;
}
.lottie{
	max-width: 350px;
}

.list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: grid; /* Применяем grid для списка */
	grid-template-columns: 1fr; /* 3 колонки */
	gap: 1px; /* Задаем отступы между карточками */
}

.footerModalBasket{
	display: flex;
	padding: 15px;
	justify-content: space-between;
	color: rgba(77, 77, 77, 1);;
}

@media (max-width: 530px) {
	.Card {
		color: #051129;
		display: grid; /* Используем grid */
		grid-template-columns: 4fr 4fr 1fr; /* Устанавливаем 3 колонки */
		grid-gap: 10px; /* Задаем отступы между элементами */
		align-items: center; /* Выравниваем элементы по центру */
		margin-bottom: 0; /* Отступы между карточками */
	}
	.wrapperTitle{
		font-size: 14px;
	}
	.lottie{
		max-width: 250px;
	}
	.footerModalBasket{
		padding: 10px;
		font-size: 13px;
	}
}