.section{
	background: rgba(68, 75, 88, 1)
}
.container{
	padding-top: 30px;
	padding-bottom: 30px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	h2{
		font-family: IntroBold sans-serif;
		font-size: 30px;
		font-weight: bold;
	}
}
.wrapperUl{
	display: flex;
	li{
		font-family: IntroBold ;
		font-size: 14px;
		margin-right: 40px;
		line-height: 14px;
		transform: translateY(3px);
	}
	:last-child{
		margin-right: 0;
	}
}

@media (max-width: 1200px) {
	.container{
		padding: 30px;
	}
	.wrapperUl{
		li{
			margin-right: 20px;
		}
	}
}

@media (max-width: 760px) {
	.container{
		
		flex-direction: column-reverse;
		justify-content: center;
		h2{
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 600px) {
	.wrapperUl{
		flex-direction: column;
		justify-content: center;
		li{
			transform: translateY(0);
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
}