/* Устанавливаем box-sizing для всех элементов */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем отступы и поля */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote {
	margin: 0;
	padding: 0;
}

/* Убираем стили у списка */
ul,
li,
ol {
	list-style: none;
}

/* Убираем подчеркивание и цвет у ссылок */
a {
	text-decoration: none;
	color: inherit;
}

@font-face {
	font-family: 'IntoRegular'; /* Имя шрифта */
	src: url('/src/assets/fonts/intro_regular.ttf') format('woff2'),
	url('/src/assets/fonts/intro_regular.ttf') format('woff'); /* Альтернативный формат */
	font-style: normal; /* Обычный стиль */
	font-weight: normal; /* Вес: обычный */
}

@font-face {
	font-family: 'IntroBook'; /* Имя шрифта */
	src: url('/src/assets/fonts/IntroDemoBlackCaps.otf') format('woff2'),
	url('/src/assets/fonts/IntroDemoBlackCaps.otf') format('woff'); /* Альтернативный формат */
	font-style: normal; /* Обычный стиль */
	font-weight: 400; /* Указан нормальный вес */
}

@font-face {
	font-family: 'IntroBold'; /* Имя шрифта */
	src: url('/src/assets/fonts/intro_bold.ttf') format('woff2'),
	url('/src/assets/fonts/intro_bold.ttf') format('woff'); /* Альтернативный формат */
	font-style: normal; /* Обычный стиль */
	font-weight: bold; /* Указан жирный вес */
}


/* Настройка body */
body {
	font-family: 'IntoRegular', sans-serif; /* Замени на свой шрифт */
	font-size: 16px; /* Базовый размер шрифта */
	line-height: 1.5; /* Комфортное межстрочное расстояние */
	background-color: white; /* Цвет фона (опционально) */
	color: #333; /* Основной цвет текста */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Убираем рамку у изображений и таблиц */
img,
table {
	max-width: 100%;
	height: auto;
	border: 0;
}

/* Обнуляем таблицы */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Убираем outline для кнопок и ссылок при фокусе, но сохраняем фокус для клавиатуры */
a:focus,
button:focus {
	outline: none;
}

/* Универсальные стили для кнопок */
button {
	border: none;
	background: none;
	cursor: pointer;
}

/* Убираем пользовательские стили у input, textarea */
input,
textarea {
	font: inherit;
	border: none;
	outline: none;
}

/* Универсальные стили для всех полей */
input,
textarea,
button,
select {
	padding: 0;
	margin: 0;
	background: transparent;
}

/* Глобальные стили для ссылок при наведении */
a:hover {
	text-decoration: none;
}

/* Плавный скролл */
html {
	scroll-behavior: smooth;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}

