.wrapperSlider {
	position: relative;
	margin: 0 auto;
	max-width: 850px;
	max-height: 500px;
}
.titleSlider {
	position: absolute;
	bottom: 10%;
	text-align: start;
	z-index: 1000;
	font-size: 40px;
	color: azure;
	left: 25%;
}
.sliderPhoto {
	max-width: 100%;
	max-height: 500px;
	padding-bottom: 30px;
	object-fit: cover;
}

@media (max-width: 1500px) {
	.titleSlider {
		bottom: 25%;
		font-size: 45px;
	}
}
@media (max-width: 1250px) {
	.titleSlider {
		bottom: 15%;
		font-size: 45px;
	}
}

@media (max-width: 1250px) {
	.titleSlider {
		bottom: 25%;
		left: 20%;
		font-size: 40px;
	}
}

@media (max-width: 950px) {
	.titleSlider {
		bottom: 25%;
		left: 15%;
		font-size: 35px;
	}
}

@media (max-width: 750px) {
	.wrapperSlider {
		padding: 0;
	}
}

@media (max-width: 580px) {
	.titleSlider {
		bottom: 25%;
		left: 10%;
		font-size: 16px;
	}
}
