.wrapperPriceCounter{
	display: flex;
	border: 1px solid #051129;
	border-bottom: 0;
	justify-content: center;
	transform: translateY(15px);
	padding: 12px 0;
	:first-child{
		border-right: 1px solid #051129;
	}
}
.price{
	font-size: 16px;
	font-family: 'IntoRegular', sans-serif;
	font-weight: normal;
padding: 0 20px;

}
.container{
	width: 250px;
}

@media (max-width: 700px) {
	.container{
		width: 355px;
	}
	.price{
		font-size: 25px;
	}
}

@media (max-width: 500px) {
	.container{
		width: 275px;
	}
}