.catalogContainer{
	display: grid;
	justify-items: start;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.basketContainer{
	overflow-x: hidden;
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px;
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}
.wrapperLottie{
	flex: 1  auto;
	display: flex;
	justify-content: center;
	text-align: center;
	color: #051129;
	padding: 30px;
}
.wrapperPrice{
	color: #051129;
	font-weight: bold;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.title{
	font-weight: bold;
	color: rgba(68, 75, 88, 1);
	font-size: 14px;
}

.oldPrice {
	text-decoration: line-through; /* Перечеркнутая старая цена */
	color: #b0b0b0; /* Более тусклый цвет для старой цены */
	font-size: 1rem;
}
.Card{
	max-width: 345px;
	min-width: 290px;
	max-height: 350px;
}

@media (max-width: 1300px) {
	.catalogContainer{
		width: 100%;
		margin-right: 30px;
		margin-left: 30px;
		grid-template-columns: repeat(2, 1fr);
	}
	.basketContainer{
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		padding: 20px;
	}
	.Card{
		max-width: 100%;
		min-width: 100%;
	}
}
@media (max-width: 985px) {
	.catalogContainer{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		grid-template-columns: repeat(1, 1fr);
	}
	.basketContainer{
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		padding: 20px;
	}
}

@media (max-width: 485px) {
	.basketContainer{
		grid-template-columns: repeat(1, 1fr);
	}
}


