.container{
	max-width: 1200px;
	margin: 30px auto;
	color: rgba(68, 75, 88, 1);
	font-family: IntroBook sans-serif;
	font-weight: normal;
	
}
.wrapperContainer{
	display: flex;
	justify-content: center;
	padding: 42px;
	margin: 20px;
	box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.1), 2px 8px 16px rgba(0, 0, 0, 0.1);
}
.wrapperImg{
	margin-right: 20px;
}
.imgUrl{
	width: 550px;
	height: 550px;
	margin-bottom: 55px;
}
.description{
	h2{
		margin-bottom: 24px;
		font-size: 24px;
		line-height: 24px;
	}
	p{
	font-size: 16px;
		line-height: 22.4px;
		max-width: 430px;
	}
}
.wrapperColl{
	display: flex;
	color: rgba(178, 181, 187, 1);
	.articl{
		margin-right: 50px;
	}
}
.flexWrapper{
	max-width: 430px;
	display: flex;
	margin-top: 38px;
	font-size: 24px;
	line-height: 33px;
	margin-bottom: 25px;
	p{
		margin-right: 7px;
	}
}

.sizeGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* 3 колонки */
	gap: 10px; /* Отступ между элементами */
	margin-top: 16px;
	margin-bottom: 30px;
}

.sizeItem {
	padding: 4px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3s;
	
	&:hover {
		background-color: #e0e0e0;
	}
	
	&.selected {
		background-color: #c9184a; /* Синий цвет для выделенного элемента */
		color: white; /* Белый цвет текста для выделенного элемента */
	}
}

.wrapperPrice{
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}
.price{
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
	margin-right: 23px;
}
.oldPrice{
	text-decoration: line-through; /* Перечеркнутая старая цена */
	font-weight: normal;
	font-size: 16px;
	
}
.Check{
	display: flex;
	align-items: center;
	p{
		color: rgba(178, 181, 187, 1);
	}
}
.titleState{
	margin-top: 30px;
	margin-bottom: 20px;
}

@media (max-width: 1030px) {
	.imgUrl{
		width: 100%;
		height: auto;
	}
	.wrapperContainer{
		display: block;
	}
	.description{
		p{
			max-width: 100%;
			margin-bottom: 30px;
		}
	}
}

@media (max-width: 450px) {
	.wrapperContainer{
		padding: 10px;
	}
}